*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*
~$*.xlsx
*.xlsx
# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

#fasta
*.fas
*.fasta

